body {
    background-color: white;
    color:black;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#notStolenLogo {
    max-width: 150px;
    max-height: 100px;
    
}
/* body > * {
    z-index: 2;
    position: relative;
} */

#welcome {
    display: flex;
    color: white;
    font-size: 24px;
    /* height: 400px; */
    padding: 30px;
    justify-content: center;
    align-content: center;
    /* display: flex; */
    /* bottom: 0; */
    /* height: 40%; */
    /* left: 0; */
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
    /* width: 100%; */
    background-image: url('../../planeOverWater.png');
    /* background-size:100% 100%; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: contain; */
    /* float: left; */
    /* z-index: 1; */
    /* justify-content: center;
    align-items: center; */
  }
  #welcome p {
      /* margin-right: 17em; */
      font-size: 40px;
      font-style: italic;
  }

  #welcome > * {
    flex-basis: 50%;
  }

.center {
    text-align: center;
    font-size: large;
    font-family: fantasy, Arial, Helvetica, sans-serif
}

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


/* custom styles */

label {
    display: block;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}

#confirmationList {
    list-style: none
}

nav {
    /* text-align: center; */
    padding: 20px;
    margin: 0;
}

nav a {
    padding-right: 20px;
    text-decoration: none;
    padding-top: inherit;
    float: right;
}

nav a:hover {
    font-weight: bold;
}

.center {
    font-size: 28px;
}

#bookNow {
    display: none;
    float: right;
    padding: 30px 60px;
    font-size: 20px;
    
    margin-right: 45px;
}

.weatherHide {
    display: none;
}

.weatherShow {
    padding: 20px;
    display: block;
}

#weatherWidget {
  /* display: flex;
  justify-content:  flex-end; */
}

#superLowFares {
    color: white;
    float: right;
    /* padding-right: 75px; */
    margin-bottom: 50px;
    /* vertical-align: center; */
    font-size: 40px;
    font-style: italic;
}
#destination_dropdown {
  margin-bottom: 15px;
}
/*  */
/* #leftWelcome { */
/*  */
  /* max-width: 50%; */
  /* display: inline-block; */
/*    */
/* } */
#rightWelcome {

  text-align: right;
}

