body {
    background-color: gainsboro;
    color: black
}

li {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
  text-align: center;
}
.container {
  display: flex;
  margin-left: 45px;
  width: 450px;
  height: 100px;
    background-image: url(https://pixabay.com/images/id-157126/);
  justify-content: center;
align-items: center;
}

.center {
    text-align: center;
    font-size: large;
    font-family: fantasy, Arial, Helvetica, sans-serif
}

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


/* custom styles */

label {
    display: block;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}

#confirmationList {
    list-style: none
}

#weatherTable {
    /* table-layout: fixed; */
    padding: 10px;
    margin-top: 5px;
    display: none;
    border: 1px solid black;
    border-collapse: collapse;
    width: 36rem
}

#weatherTable td,
#weatherTable th {
    border: 1px solid #ddd;
    padding: 8px
}

nav {
    text-align: center;
    padding: 20px;
    margin: 0;
}

nav a {
    padding-right: 20px;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

.center {
    font-size: 28px;
}

#bookNow {
    display: none;
}