body {
    background-color: white;
    color:black;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#notStolenLogo {
    max-width: 200px;
    max-height: 150px;
}

#welcome {
    display: flex;
    color: white;
    font-size: 24px;
    padding: 30px;
    justify-content: center;
    align-content: center;
    background-image: url('../../planeOverWater.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

#welcome p {
    font-size: 40px;
    font-style: italic;
}

#welcome > * {
    flex-basis: 50%;
}

.center {
    text-align: center;
    font-size: large;
    font-family: fantasy, Arial, Helvetica, sans-serif
}

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


/* custom styles */

label {
    display: block;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}

#confirmationList {
    list-style: none
}

nav {
    /* text-align: center; */
    padding: 20px;
    margin: 0;
}

nav a {
    padding-right: 20px;
    text-decoration: none;
    padding-top: inherit;
    float: right;
}

nav a:hover {
    font-weight: bold;
}

.center {
    font-size: 28px;
}

/* #bookNow {
    display: none;
    float: right;
    padding: 30px 60px;
    font-size: 20px;
    
    margin-right: 45px;
} */

#bookNow {
    float: right;
    display: none;
    padding: 15px 40px;
    margin-right: 50px;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 20px;;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

#bookNow:hover{
    background-color:#4095c6;
}

.weatherHide {
    display: none;
}

.weatherShow {
    padding: 20px;
    display: block;
}

#weatherWidget {
  display: flex;
  justify-content:  flex-start;
}

#weatherInfo p {
    margin-top: 60px;
    font-size: 18px;
}

#weatherInfo {
    display: none;
}

#superLowFares {
    color: white;
    float: right;
    /* padding-right: 75px; */
    margin-bottom: 50px;
    /* vertical-align: center; */
    font-size: 40px;
    font-style: italic;
}
#destination_dropdown {
  margin-bottom: 15px;
}

/* #leftWelcome { 
  max-width: 50%; 
  display: inline-block; 
}  */

#rightWelcome {

  text-align: right;
}


/* Monthly Specials Section */
#londonImg, #cancunImg, #parisImg, #berlinImg {
    height: 625px;
    width: 1000px;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    display: block;
    margin-left: auto;
    margin-right: auto
}

#specials div h2 {

        text-align: center;
        float: left;
    
}

#specials {
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
}

#specials p {
    max-width: 600px;
 
    float: right;
}

