#specials {
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    max-width: 600px;
 
    float: right;
}



#londonImg, #cancunImg, #parisImg, #berlinImg {
    height: 625px;
    width: 1000px;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    display: block;
    margin-left: auto;
    margin-right: auto
}

h2 {
    text-align: center;
    float: left;
}
